# 忽略系统文件和目录
.ai_completion/
.android/
.antigravity/
.bun/
.cache/
.cargo/
.chelper/
.cherrystudio/
.chocolatey/
.chromium-browser-snapshots/
.claude.json
.claude.json.backup*
.claude/
.codebuddy/
.codebuddycn/
.config/
.cursor-sandbox/
.gemini/
.gitconfig
.iflow/
.leigod/
.local/
.matplotlib/
.npmrc
.opencode-notify.log
.opencode/
.pcr-stats.json
.prefs/
.rustup/
.sbx-denybin/
.ssh/
.trae-cn/
.zai/
AppData/
Contacts/
Desktop/
Favorites/
Links/
Logs/
Music/
NTUSER.DAT*
ntuser.dat.*
Saved Games/
Searches/
TheoTown/
WPS Cloud Files/
WPSDrive/
ai_completion/
china-birth-population/
claude-quota-checker.html
doubao-image-mcp/
fireworks-initial.jpg
install.cmd
nul
package-lock.json
package.json
python-sdk/
session-ses_3e3b.md
shipin7_update_temp/
skill-creator/
spring-festival-fireworks-initial.jpg
spring-festival-fireworks-test.jpg
spring-festival-fireworks.html
zhipu-balance.html

# Windows系统文件
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
